
бен/Отладка/ net6.0
Exampl001_HelloConsole.deps.json
Exampl001_HelloConsole.dll
Exampl001_HelloConsole.exe
Exampl001_HelloConsole.pdb
Exampl001_HelloConsole.runtimeconfig.json
объект
Debug/net6.0
Exampl001_HelloConsole.csproj.nuget.dgspec.json
Exampl001_HelloConsole.csproj.nuget.g.props
Exampl001_HelloConsole.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
Пример001_HelloConsole.csproj
Пример001_HelloConsole.sln
Программа.cs